@charset "UTF-8";
.margin {
  margin: 0 0.45rem;
  box-sizing: border-box;
  padding: 0; }

body {
  background: #efeff4; }

header {
  width: 14.4rem;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background: #f7f7f7;
  height: 1.9rem;
  border-bottom: 0.01rem solid #e4e4e4; }
  header .headerCont {
    display: flex;
    justify-content: space-between;
    height: 1.9rem;
    align-items: center; }
    header .headerCont .headerLeft {
      display: flex;
      align-items: center; }
      header .headerCont .headerLeft img {
        width: 0.68rem;
        height: 0.62rem; }
      header .headerCont .headerLeft p {
        padding-left: 0.8rem;
        margin-left: 0.8rem;
        border-left: 0.01rem solid #e4e4e4;
        height: 1.05rem;
        font: 0.56rem/1.05rem "微软雅黑";
        color: #38adff; }
    header .headerCont .headerRight {
      display: flex;
      align-items: center; }
      header .headerCont .headerRight img {
        width: 0.72rem; }
      header .headerCont .headerRight p {
        margin-left: 0.95rem;
        font: 0.48rem "微软雅黑";
        color: #38adff; }

#state {
  margin: 2.6rem 0 0.68rem;
  background: #f8f8f8; }
  #state .stCont {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #state .stCont p {
      font: 0.5rem/1.92rem "微软雅黑"; }
    #state .stCont img {
      width: 0.3rem;
      height: 0.5rem; }

#file {
  background: #fff; }
  #file .fileDetail {
    display: flex;
    align-items: center;
    height: 2.18rem;
    font: 0.56rem/2.18rem "微软雅黑";
    color: #222; }
    #file .fileDetail:nth-last-of-type(1) .right {
      border: 0; }
    #file .fileDetail .left {
      height: 2.18rem;
      width: 1.6rem; }
      #file .fileDetail .left img {
        width: 1.28rem;
        height: 1.28rem; }
    #file .fileDetail .right {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 2.55rem;
      width: 11.84rem;
      border-bottom: 0.01rem solid #c5c5c5; }
      #file .fileDetail .right i {
        display: flex;
        align-items: center;
        font: 0.4rem "微软雅黑";
        color: #a0a7af;
        height: 0.9rem; }

#companyFile {
  margin-bottom: 8.75rem;
  background: #fff; }
  #companyFile .title {
    font: 0.5rem/1.76rem "微软雅黑";
    color: #999;
    background: #efeff4;
    padding-left: 0.45rem; }
  #companyFile .fileDetail {
    display: flex;
    align-items: center;
    height: 2.18rem;
    font: 0.56rem/2.18rem "微软雅黑";
    color: #222; }
    #companyFile .fileDetail:nth-last-of-type(1) .right {
      border: 0; }
    #companyFile .fileDetail .left {
      height: 2.18rem;
      width: 1.6rem; }
      #companyFile .fileDetail .left img {
        width: 1.28rem;
        height: 1.28rem; }
    #companyFile .fileDetail .right {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 2.55rem;
      width: 11.84rem;
      border-bottom: 0.01rem solid #c5c5c5; }
      #companyFile .fileDetail .right i {
        display: flex;
        align-items: center;
        font: 0.4rem "微软雅黑";
        color: #a0a7af;
        height: 0.9rem; }

/*# sourceMappingURL=dingPans.css.map */
